Lab01_Architectural Design Phase Defects Checklist.pdf
Lab01_Program Coding Phase Defects Checklist.pdf
Lab01_Requirements Phase Defects Checklist.pdf
ProiectAgenda/.idea/*
RequirementsAgenda_v2.0.docx
